.nav-pills .nav-link {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 50%;
    margin-left: 40%;
}
body {
    background-color: #eaf4f4;
}
#container {
    margin-top: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.nav-pills .nav-link.active span {
    display: none;
}

.nav-pills .nav-link.active::before {
    content: "📖";
}
.result {
    background-color: #d1e7dd;
}
.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-left: 5px solid #5bc0de;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.callout span {
    font-weight: 700;
}
/* input {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
} */
.div-chan {
    background-color: red;
    color: white;
}
.div-le {
    background-color: blue;
    color: white;
}
